<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">MILLENNIUM Foods</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">ෆ
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/WhatsApp Image 2019-12-21 at 01.25.33.jpeg" role="img"
          preserveAspectRatio="xMidYMid slice" focusable="false">

        <div class="container">
          <div class="carousel-caption text-left">
            <h1>MILLENIOUM FOODS</h1>
            <p></p>

          </div>
        </div>
      </div>

    </div>




    <div class="container marketing">
      <br>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" align="center">

          <img src="../../assets/953293ca-ad6f-4c95-a944-95a2e7d512e3-large16x9_MGN_1280x720_60203P00IDACT.jpg"
            style="border-radius: 80px; width:150px; height:150px;">

          <h2>Menu 1</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
            magna.</p>

        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4" align="center">
          <img src="../../assets/unnamed.jpg" style="border-radius: 80px; width:150px; height:150px;">
          <h2>Mix Rice</h2>
          <p>Long Grain Wild Rice Mix Recipe. Make your own long grain wild rice mix for a wonderful side dish in
            minutes. If you can't find Spike seasoning, which is made of dozens of dried vegetables and herbs, you can
            use homemade herb mix</p>

        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4" align="center">
          <img src="../../assets/493ss_thinkstock_rf_spaghetti_with_tomatoes_on_plate.jpg"
            style="border-radius: 80px; width:150px; height:150px;">
          <h2>menu 3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4" align="center">
          <img src="../../assets/OCR-L-HondaFood-1003-01-LO-1.jpg"
            style="border-radius: 80px; width:150px; height:150px;">
          <h2>menu 4</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" align="center">
          <img src="../../assets/best-weight-loss-foods-1544650287.jpg"
            style="border-radius: 80px; width:150px; height:150px;">
          <h2>menu 5</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" align="center">
          <img src="../../assets/20190503-delish-pineapple-baked-salmon-horizontal-ehg-450-1557771120.jpg"
            style="border-radius: 80px; width:150px; height:150px;">
          <h2>menu 6</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->




      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Featured meals : <span class="text-muted">Mix Rice</span>
          </h2>
          <p class="lead">Red or White rice mixed with seafoods,slices of sausages, greenpeace,sliced vegitables and
            nuts. </p>
        </div>
        <div class="col-md-5">

          <img src="../../assets/bmlm0f8r-720.jpg" style="border-radius: 0px; width: 450px; height: 400px;">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Best restaurant with the better customer service to provide better experience.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="../../assets/pexels-photo-262978.jpeg" style="border-radius: 0px; width: 450px; height: 400px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Why shoul choose.</span></h2>
          <p class="lead">Variese of food items, best customer service, quility foods, fair price range</p>
        </div>
        <div class="col-md-5">
          <img src="../../assets/unnamed.png" style="border-radius: 0px; width: 450px; height: 400px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">&nbsp;&copy; 2017-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Best foods</a></li>
            <li><a class="text-muted" href="#">good customer service</a></li>
            <li><a class="text-muted" href="#">Varity of items</a></li>
            <li><a class="text-muted" href="#">Bevareges</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">No 266, Bandaranayaka Mw,Katubedda, Moratuwa</a></li>
            <li><a class="text-muted" href="#">077 9777557</a></li>
            <li><a class="text-muted" href="#">FB : Millenium foods</a></li>
            <li><a class="text-muted" href="#"></a></li>
          </ul>
        </div>
      </div>
    </footer>